* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body, p {
    margin: 0;
}

.body {
    width: 100%;
    height: 100vh;
}

.body[auth] {
    background: url("./img/auth.jpg");
    background-size: 100% 100%;
}

.body[month] {
    background-position: center !important;
    background-size: cover !important;
}

.body[month="1"] {
    background: url("./img/1.jpg");
}

.body[month="2"] {
    background: url("./img/2.jpg");
}

.body[month="3"] {
    background: url("./img/3.jpg");
}

.body[month="4"] {
    background: url("./img/4.jpg");
}

.body[month="5"] {
    background: url("./img/5.jpg");
}

.body[month="6"] {
    background: url("./img/6.jpg");
}

.body[month="7"] {
    background: url("./img/7.jpg");
}

.body[month="8"] {
    background: url("./img/8.jpg");
}

.body[month="9"] {
    background: url("./img/9.jpg");
}

.body[month="10"] {
    background: url("./img/10.jpg");
}

.body[month="11"] {
    background: url("./img/11.jpg");
}

.body[month="12"] {
    background: url("./img/12.jpg");
}

.app {
    width: 30%;
    margin: auto;
    background: #000000bf;
    border-radius: 25px;
    padding: 20px 0;
}

.switch {
    background: #03e8ffa6;
    color: white;
    margin: 0 auto;
    font-size: 18px;
    padding: 10px;
    border: 2px solid white;
    box-shadow: inset 0 -10px 10px 2px black;
    display: block;
    width: 50%;
}

/*------------------- ------ ----------------*/
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/*------------------- header ----------------*/
.header {
    position: relative;
    align-items: center;
    padding: 0 20px;
    background: #0000004f;
}

.logo-cont {
    flex-direction: row-reverse;
    /*align-items: center;*/
    /*background: linear-gradient(90deg, #1bff00, #000000);*/
    /*border-radius: 31px;*/
    /*padding-left: 10px;*/
}

.logo {
    background: radial-gradient(transparent, black);
    padding: 10px 15px;
    border-radius: 50%;
    color: white;
    border: 1px solid #00ff11a1;
    font-size: 20px;
}

.avatar {
    background: radial-gradient(transparent, black);
    padding: 10px 15px;
    border-radius: 50%;
    color: white;
    border: 1px solid #00ff11a1;
    font-size: 20px;
    cursor: pointer;
}

.current-date {
    font-size: 24px;
    position: absolute;
    left: 50%;
    color: white;
}

.set-cont {
    display: flex;
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.5s ease-out;
    align-items: center;
    /*background: linear-gradient(90deg, rgb(27, 255, 0), rgb(0, 0, 0));*/
    border-radius: 31px;
}

.schedule-btn, .settings-btn {
    display: none;
    cursor: pointer;
}

.set-cont-btn {
    background: radial-gradient(transparent, black);
    padding: 5px;
    color: white;
    border: 1px solid #00ff11a1;
    font-size: 16px;
    border-radius: 19px;
    cursor: pointer;
}

/*-------------------- main -----------------*/
.main-container {
    height: 100%;
    padding: 15px 0;
    margin: 0 20px;
}

.calendar-cont {
    width: 100%;
    height: max-content;
    background: rgba(255, 255, 255, 0.44);
}

/*------------------ calendar ---------------*/
.options-cont {
    background: #000000a1;
    padding: 10px;
    align-items: center;
}

.date {
    font-size: 24px;
    color: white;
}

.task-name-day {
    height: 100%;
    margin: 0 2% 2%;
}

.day-of-week {
    background: #0a1144f0;
    color: wheat;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
}

.empty {
    background: #005f9766;
}

/*------------------- ------ ----------------*/
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /*grid-auto-rows: 20vh;*/
    gap: 5px;
}

.day {
    height: 12vh;
    background: #110909b3;
    color: white;
    text-align: center;
}

.calendar-btn, .btn {
    background: rgba(0, 0, 0, 0.46);
    color: white;
    font-size: 18px;
    padding: 5px 30px;
    border: 2px solid white;
    cursor: pointer;
}

/*------------------- panel -----------------*/
.panel-cont {
    width: 30%;
    margin-left: 15px;
    background: linear-gradient(180deg, #000000ab, transparent, #000000d9);
}

.panel-options {
    position: relative;
    height: 70%;
}

.tasks {
    overflow-y: scroll;
    height: 100%;
}

.panel-btn {
    width: 100%;
    padding: 5px 0;
    margin-bottom: 10px;
    cursor: pointer;
}

.schedule-cont {
    height: 30%;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    color: white;
    background: linear-gradient(181deg, black, transparent);
    padding: 15px;
}

.sch-info {
    margin-top: 5px;
    font-size: 20px;
}

.update-schedule-btn {
    font-size: 20px;
    border: 1px solid #ffffff59;
    cursor: pointer;
}

.fa-arrows-rotate {
    color: lime;
    font-size: 24px;
}
.fa-circle-xmark{
    color: red;
}
.close-btn{
    display: none;
}

/*------------------- task ------------------*/
.task-container {
    justify-content: flex-end;
    margin: 2px 5px 0;
}

.task-btn {
    width: 100%;
    color: white;
    font-size: 20px;
    border: 1px solid #00000091;
    background: linear-gradient(0deg, black, red, black);
    cursor: pointer;
    /*background: linear-gradient(to left, red, black);*/
}

.task-color {
    height: 100%;
    width: 25px;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px white;
}

.edit-task-btn, .dell-task-btn {
    font-size: 20px;
    border: 1px solid #00000091;
    background: linear-gradient(0deg, black, #ffffff73, black);
    cursor: pointer;
}

.fa-pen-clip {
    color: orange;
}

.fa-trash-can {
    color: red;
}

.task-btn[active-task] {
    /*background: linear-gradient(to left, green, black);*/
}

.task-btn[active-task] {
    background: linear-gradient(to top, black, green, black);
    cursor: pointer;
}

/*------------------- form ------------------*/
.pop-up-form {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgb(35 72 101);
}

.form {
    margin: 10px 20px;
}

.form-title {
    margin: 10px auto;
    font-size: 30px;
}

.text-control > label, .form-title {
    color: white;
}

.text-control > label {
    width: 40%;
    font-size: 24px;
}

.input {
    width: 60%;
    font-size: 24px;
}

.text-control {
    margin-bottom: 15px;
}

.btn-form {
    background: #03e8ffa6;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 2px 0;
    border: 2px solid white;
    box-shadow: inset 0 -10px 10px 2px black;
    cursor: pointer;
}

/*------------------- footer ----------------*/
.footer {
    background: #000000a1;
    height: 6%;
    align-items: center;
    padding: 0 20px;
}

.info-text, .contacts {
    color: white;
    font-size: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-track {
    box-shadow: inset 2px -1px 2px 1px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #110909;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 6px;
}

@media (max-width: 1200px) {
    .app {
        width: 45%;
    }
}

@media (max-width: 1050px) {
    .day {
        height: 11vh;
    }

    .sch-info {
        font-size: 18px;
    }

    .update-schedule-btn {
        font-size: 18px;
        padding: 2px 0;
    }

    .form {
        margin: 5px 10px;
    }

    .text-control {
        margin-bottom: 10px;
    }

    .text-control > label, .input {
        font-size: 20px;
    }

    .panel-cont {
        margin-left: 10px;
    }
}

@media (max-width: 900px) {
    .switch, .options-cont, .schedule-cont {
        padding: 5px
    }

    h2 {
        font-size: 28px;
    }

    .main-container {
        padding: 10px 0;
    }

    .set-cont-btn {
        padding: 3px 5px;
    }

    .calendar-btn, .logo, .task-name, .fa-solid,
    .text-control > label, .input,
    .edit-task-btn, .dell-task-btn {
        font-size: 16px;
    }

    .logo {
        border-radius: 25px;
    }

    .avatar {
        padding: 7px 11px;
    }

    .form {
        margin: 0 5px;
    }

    .form-title {
        font-size: 26px;
        margin: 5px auto;
    }

    .panel-btn {
        padding: 2px 0;
        margin-bottom: 3px;
    }

    .task-color {
        width: 20px;
    }

    .info-text, .contacts {
        font-size: 18px;
    }
}

@media (max-width: 750px) {
    .header, .footer {
        padding: 0 10px;
    }

    .main-container {
        margin: 0 10px;
    }

    .set-cont-btn {
        font-size: 14px;
    }

    .calendar-btn, .logo, .task-name, .fa-solid,
    .text-control > label, .input,
    .edit-task-btn, .dell-task-btn {
        font-size: 15px;
    }

    .btn-form, .sch-info, .info-text, .contacts {
        font-size: 16px;
    }

    .panel-cont {
        margin-left: 5px;
        width: 35%;
    }

    .a-center {
        align-items: center;
    }

    .current-date {
        position: relative;
        left: 0;
        margin-left: 10px;
    }
}

@media (max-width: 550px) {
    .bb{

        border-bottom: 1px solid white;
    }
    .main-container {
        flex-direction: column;
        position: relative;
    }

    .set-cont-btn {
        display: inline-block;
    }

    .app {
        width: 70%;
    }

    .switch {
        padding: 2px;
        font-size: 16px;
    }

    .form-title {
        font-size: 24px;
    }

    .fa-arrows-rotate, .fa-circle-xmark{
        font-size: 18px;
    }
    .text-control > label, .input {
        font-size: 18px;
    }

    .panel-cont {
        flex-direction: row;
        margin: 7px 0 0;
        justify-content: space-between;
        width: 100%;
    }

    .schedule-cont {
        display: none;
        flex-direction: row;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .sch-info {
        margin: 0;
        justify-content: space-evenly;
    }

    .update-schedule-btn {
        padding: 5px 6px 3px;
        border: none !important;
        box-shadow: 0 0 3px 1px white;
        border-radius: 50%;
    }

    .panel-options {
        position: absolute;
        height: 75%;
        width: 45%;
        display: none;
        top: 10px;
        right: 0;
        background: #000000b5;
    }

    .task-color {
        width: 15px;
        margin-left: 5px;
    }

    .close-btn, .back-btn {
        width: 30%;
    }
    .close-btn{
        display: inline-block;
        color: red;
    }

    .btn {
        border: 1px solid white;
    }

    .day > span, .task-name-day {
        font-size: 12px;
    }

    .panel-btn {
        border: none !important;
    }
}

@media (max-width: 450px) {
    .day {
        height: 10vh;
    }

    .logo {
        padding: 6px;
    }

    .avatar {
        padding: 3px 8px;
    }

    .set-cont-btn {
        padding: 3px;
    }

    .calendar-btn, .task-name, .fa-solid,
    .text-control > label, .input,
    .edit-task-btn, .dell-task-btn, .set-cont-btn {
        font-size: 12px;
    }

    .switch, .text-control > label, .input,
    .btn-form, .btn-form, .sch-info, .info-text, .contacts,
    .btn, .date, .current-date {
        font-size: 14px;
    }

    .current-date {
        margin-left: 5px;
    }
}

@media (max-width: 350px) {
    .day {
        height: 9vh;
    }

    .header, .footer {
        padding: 0 5px;
    }

    .main-container {
        margin: 0 5px;
    }

    .logo {
        padding: 3px;
    }

    .avatar {
        padding: 3px 7px;
    }

    .calendar-btn, .task-name, .fa-solid,
    .text-control > label, .input,
    .edit-task-btn, .dell-task-btn, .set-cont-btn,
    .task-name-day {
        font-size: 10px;
    }

    .switch, .text-control > label, .input,
    .btn-form, .btn-form, .sch-info, .info-text, .contacts,
    .btn, .date, .avatar, .current-date, .logo, .date,
    .current-date {
        font-size: 12px;
    }

    .day-of-week {
        font-size: 16px;
    }

    .calendar-btn {
        padding: 2px 5px;
    }
}